# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
.venv/

# Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# Logs
*.log

# Django static files
staticfiles/